$ff-teko: 'Teko';
$ff-raleway-light: 'Raleway-Light';
$ff-raleway-medium: 'Raleway-Medium';

@font-face {
  font-family: 'Teko';
  src: url(./../fonts/Teko-SemiBold.ttf);
}

@font-face {
  font-family: 'Raleway-Light';
  src: url(./../fonts/Raleway-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url(./../fonts/Raleway-Medium.ttf) format("truetype");
}