@mixin createTransition($props, $durations, $delays, $transFunc) {
  transition-property: $props;
  transition-duration: $durations;
  transition-delay: $delays;
  transition-timing-function: $transFunc;
}

// @function strip-unit($number) {
//   @if type-of($number) == 'number' and not unitless($number) {
//       @return $number / ($number * 0 + 1);
//   }
//   @return $number;
// }

@function getEmValue($dividend, $divisor: 16px) {
  @if $divisor > 0 {
    @return $dividend / $divisor * 1em;
  } 
  @else {
    @return 1em;
  }
}

@mixin centerBlock($width) {
  width: $width;
  margin: 0 auto;
}
