@import './../../assets/scss/mixinsAndFuncs.scss';
@import './../../assets/scss/constants.scss';

$base-font: 14px;
$link-margin: 40px;

.header {
  background-color: #111111;
  padding: getEmValue(10px, $base-font) getEmValue(25px, $base-font);
  display: flex;
  justify-content: space-between;
  font-size: $base-font;
  position: fixed;
  width: 100%;
  flex-wrap: wrap;
  z-index: 998;
}

.list {
  display: flex;
}

.listItem {
  margin-right: getEmValue($link-margin, $base-font);
}

.listItem:last-child {
  margin-right: 0;
}

.link {
  color: #fff;
  @include createTransition(color, 200ms, 50ms, liner);
  cursor: pointer;
}

.link:hover {
  color: #5aa8e7;
  @include createTransition(color, 200ms, 50ms, liner);
}

$line-width: 30px;
$line-height: 2px; 

// Handling menu

.menuLineWrapper {
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: none;
}

.menuLine {
  width: $line-width;
  height: $line-height;
  align-self: center;
  background-color: #fff;
  position: relative;
  transition: background-color 0ms linear 200ms;
}

.menuLine::before,
.menuLine::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: $line-width;
  height: $line-height;
  @include createTransition((top, transform), 200ms, (200ms, 0ms), ease-in-out);
}

.menuLine::before {
  top: -7px;
}

.menuLine::after {
  top: 7px;
}

// When menu is active
.menuLine.active {
  background-color: transparent;
  transition: background-color 0ms linear 200ms;
}

.menuLine.active::before,
.menuLine.active::after {
  top: 0px;
  @include createTransition((top, transform), 200ms, (0ms, 200ms), ease-in-out);
}

.menuLine.active::before {
  transform: rotate(45deg);
}

.menuLine.active::after {
  transform: rotate(-45deg);
}

.authMenu {
  position: absolute;
  right: getEmValue(25px, $base-font);
  top: getEmValue(35px, $base-font);
  background-color: #fff;
  border-radius: 3px;
  padding: getEmValue(10px, $base-font) getEmValue(15px, $base-font);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.39);
  @include createTransition((opacity, visibility), 100ms, 0, linear)
}

.authItem {
  margin-bottom: getEmValue(8px, $base-font);
}

.authItem:last-child {
  margin-bottom: 0;
}

.authLink {
  color: #000;
}

// Adaptation
@media (max-width: $mq-laptop) {
  .list {
    max-height: 0;
    display: block;
    flex-basis: 100%;
    order: 3;
    visibility: hidden;
    overflow: hidden;
    @include createTransition((max-height, visibility, margin-top), 
    (500ms, 0ms, 200ms), 
    (0ms, 500ms, 300ms), 
    (ease-out, linear, linear))
  }
  .list.active {
    display: block;
    margin-top: 25px;
    visibility: visible;
    max-height: 250px;
    overflow: hidden;
    transition: max-height 900ms ease-out;
  }
  .listItem {
    margin-bottom: 15px;
  }
  .listItem:last-child {
    margin-bottom: 10px;
  }
  .menuLineWrapper {
    display: flex;
  }
}