@import './../../assets/scss/mixinsAndFuncs.scss';

$base-font: 15px;

// Media query breakpoints
$mq-phone: 480px;
$mq-tablet: 768px;
$mq-laptop: 1024px;
$mq-large-screen: 1200px;

.header {
  background-color: #111111;
  padding: getEmValue(10px, $base-font) getEmValue(25px, $base-font);
  display: flex;
  justify-content: space-between;
  font-size: $base-font;
  position: fixed;
  width: 100%;
  flex-wrap: wrap;
}

.list {
  display: flex;
}

.listItem {
  margin-right: getEmValue(25px, $base-font);
}

.listItem:last-child {
  margin-right: 0;
}

.link {
  color: #fff;
  @include createTransition(color, 200ms, 50ms, ease-in-out);
}

.link:hover {
  color: #5aa8e7;
  @include createTransition(color, 200ms, 50ms, ease-in-out);
}

$line-width: 30px;
$line-height: 2px; 

// Handling menu

.menuLineWrapper {
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: none;
}

.menuLine {
  width: $line-width;
  height: $line-height;
  align-self: center;
  background-color: #fff;
  position: relative;
  transition: background-color 0ms linear 200ms;
}

.menuLine::before,
.menuLine::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: $line-width;
  height: $line-height;
  @include createTransition((top, transform), 200ms, (200ms, 0ms), ease-in-out);
}

.menuLine::before {
  top: -7px;
}

.menuLine::after {
  top: 7px;
}

// When menu is active
.menuLine.active {
  background-color: transparent;
  transition: background-color 0ms linear 200ms;
}

.menuLine.active::before,
.menuLine.active::after {
  top: 0px;
  @include createTransition((top, transform), 200ms, (0ms, 200ms), ease-in-out);
}

.menuLine.active::before {
  transform: rotate(45deg);
}

.menuLine.active::after {
  transform: rotate(-45deg);
}

// Adaptation
@media (max-width: $mq-tablet) {
  .list {
    max-height: 0;
    display: block;
    visibility: hidden;
  }
  .list.active {
    flex-basis: 100%;
    order: 3;
    margin-top: 25px;
    visibility: visible;
    display: block;
    max-height: 250px;
    transition: max-height 900ms ease-out;
  }
  .listItem {
    margin-bottom: 15px;
  }
  .listItem:last-child {
    margin-bottom: 10px;
  }
  .menuLineWrapper {
    display: flex;
  }
}