.footer {
  height: 5vh;
  background-color: rgb(10, 10, 10);
  margin-top: auto;
  display: flex;
  justify-content:  center;
  align-items: center;
  padding: 0 1em;
}

.footer > p {
  color: #fff;
  font-size: 0.9em;
}