@import './../../assets/scss/constants.scss';
@import './../../assets/scss/mixinsAndFuncs.scss';
@import './../../assets/scss/fonts.scss';

$base-font: 16px;

.container {
  position: absolute;
  top: 20%;
  left: 20%;
  max-height: 1080px;
  width: 60%;
  font-size: $base-font;
}